<p>
  students works!
</p>

<div class="faculd d-lg-inline-flex ">
  <div class="card-group " *ngFor="let faculdet of faculdets">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/students/{{faculdet.img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{faculdet.faculdetName}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>

    </div>
  </div>
</div>
