<p>
  Կրթություն
</p>
<div class="">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 2rem">Բակալավրիատ</h5>
      <p class="card-text"><b>Ուսումնական գործընթացը բակալավրիատում: </b> Ուսումնառության ընթացքում ուսանողները
        ուսումնասիրում են 35 դասընթացներ, յուրաքանչյուր կիսամյակում ոչ ավելի, քան 5 դասընթաց: Ուսանողն ինքն է ձևավորում
        իր
        անհատական ուսումնական պլանը` ըստ կրթական ծրագրի իրեն առաջարկված հիմնական, մասնագիտական և մասնագիտացման
        դասընթացների ցանկից:</p>
      <p class="card-text"><b>Քննությունները ամենակարևորը չեն:</b>Ուսումնական տարին բաժանվում է 2 կիսամյակների, որոնցից
        յուրաքանչյուրում կա 2 մոդուլ՝ բաժանված միջանկյալ քննություններով: Բոլոր դասընթացներն ավարտվում են քննությամբ,
        բացառությամբ յոթերերդ կիսամյակի դասընթացների, որոնց դիֆերենցված ստուգարքի արդյունքային տարբերակված գնահատականն է
        ներառվում է դիպլոմի հավելվածում:

        Education_journeyՈւսումնական դասընթացի գնահատականը ձևավորվում է ընթացիկ ստուգումների, միջանկյալ և վերջնական
        քննությունների արդյուքներով: Դասընթացի ավարտին ուսանողը կարող է ընտրել` մասնակցել կամ չմասնակցել կիսամյակային
        վերջնական քննությանը, եթե ընթացիկ առաջադիմությունից ձևավորվում է արդյունքային գնահատականը և այն բավարարում է
        ուսանողին: Քննություններին թույլատրվում է մասնակցել բոլոր ուսանողներին` բացառությամբ նրանց, ովքեր սահմանված
        ժամկետներում չեն վճարել ուսման վարձը:
        Ուսումնական պլանի կառուցվածքը: Կրթական ծրագրի ընդհանուր աշխատատարությունը կազմում է 240 կրեդիտ, տևողությունը՝ 4
        տարի, հաշվարկային հիմնական միավորը՝ «կրեդիտ-ժամ», ուսումնական պարապմունքների workplace-motivationտևողությունը՝
        60
        րոպե, յուրաքանչյուր դասընթացից առաջ հատկացվում է 10 րոպե` ուսանողների գրանցման համար:
        Ուսումնական պլանի կառուցամասեր՝
        • Ընդհանուր կառուցամաս – 4 դասընթաց, 18 կրեդիտ,
        • Մասնագիտական կառուցամաս – 31 դասընթաց, 174 կրեդիտ
        • Պրակտիկա և նախագծային, հետազոտական աշխատանք – 48 կրեդիտ:

        ԵՎՐՈՊԱԿԱՆAccredited ՀԱՄԱԼՍԱՐԱՆ

        Armenia Germany France


        Եվրոպական համալսարանը հանդիսանում է միջպետական բուհ, որը հիմնադրվել է Ֆրանսիայի, Գերմանիայի, Իտալիայի
        հանրապետությունների և Հայաստանի Հանրապետության կառավարությունների միջև կնքված համաձայնագրերի հիման վրա:


        EURASHEErasmusDocmen</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 2rem">Մագիստրատուրա</h5>
      <p class="card-text"><b>Ուսումնական գործընթացը: </b> Ուսումնառության ընթացքում ուսանողները ուսումնասիրում են 12
        ուսումնական դասընթացներ, որոնց կազմը և բովանդակությունը կախված են տվյալ կրթական ծրագրի և ուսանողի անհատական
        ուսումնական պլանի բովանդակությունից։ Ուսումնական պլանները կազմված են այնպես, որ կիսամյակի ընթացքում ուսանողը
        ուսումնասիրի ոչ ավելի, քան 4 դասընթաց։ Ուսումնական տարին բաժանվում է 2 կիսամյակների, որոնցից յուրաքանչյուրում կա
        2
        մոդուլ՝ բաժանված միջանկայլ քննություններով։</p>
      <p class="card-text"><b>Քննությունները ամենակարևորը չեն:</b>Ուսումնական դասընթացի գնահատականը ձևավորվում է ոչ
        միայն
        և ոչ այնքան եզրափակիչ քննությունների արդյունքներով։ Գնահատականի վրա անպայման ազդում է սովորողի ընթացիկ
        առաջադիմությունը, որը ձևավորվում է ընթացիկ ստուգումների արդյուքներով: Դասընթացի ավարտին քննություն կարող է նաև
        չանցկացվել, եթե արդյունքային գնահատականը կարելի է ամբողջությամբ ստանալ սովորողի ընթացիկ առաջադիմությունից։
        Քննություններին թույլատրվում են բոլոր ուսանողները բացառությամբ ուսման վարձը ժամանակին չվճարած սովորողները։</p>
      <p class="card-text"><b>Ուսումնական պլանի կառուցվածքը։</b>Կրթական ծրագրի ընդհանուր աշխատատարությունը կազմում է 120
        կրեդիտ, տևողությունը՝ 2 տարի, հաշվարկային հիմանական միավորը՝ «կրեդիտային ժամ», ուսումնական պարապմունքների
        տևողությունը՝ 60 րոպե, ևս 10 րոպե հատկացվում է ուսանողների գրանցման համար։

        Ուսումնական պլանի կառուցամասեր՝</p>
      <ul>
        <li>Ընդհանուր կառուցամաս – 2 դասընթաց, 15 կրեդիտ,</li>
        <li>Մասնագիտական կառուցամաս – 10 դասընթաց, 51 կրեդիտ,</li>
        <li>Պրակտիկա և նախագծային, հետազոտական աշխատանք – 54 կրեդիտ։</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 2rem">Ասպիրանտուրա</h5>
      <p class="card-text"> Հետբուհական կրթությունն իրականացվում է ՀՀ կրթության և գիտության նախարարության և ԲՈՀ-ի
        հաստատած գիտական աստիճանաշնորհման անվանացանկի համաձայն:

        Հետբուհական կրթություն իրականացվում է հետևյալ ուղղություններով` </p>
      <ul>
        <li>
          Հանրային իրավունք,
        </li>
        <li>
          Ավտոմատացման համակարգեր,
        </li>
        <li>
          Կառավարում, կառավարման համակարգեր և դրանց տարրերը,
        </li>
        <li>
          Տնտեսության, նրա ճյուղերի տնտեսագիտություն և Կառավարում,
        </li>
        <li>
          Միջազգային տնտեսագիտություն,
        </li>
        <li>
          Ընդհանուր և համեմատական լեզվաբանություն:
        </li>
      </ul>
      <p class="card-text">Համալսարանի ասպիրանտուրայում սովորում են նաև արտերկրի քաղաքացիներ:
        Հետբուհական կրթական համակարգում ուսուցումն իրականացվում է առկա և հեռակա ձևերով՝ անվճար և վճարովի հիմունքներով:
        Առկա ձևով ուսուցման տևողությունը չի գերազանցում 3 տարին (180 կրեդիտ), իսկ հեռական և հայցորդությունը` 4 տարին
        (180 կրեդիտ):

        Ընտրած մասնագիտությամբ գիտական հետազոտություններ կատարելիս ասպիրանտները բուհի և կազմակերպության աշխատողների հետ
        հավասարապես օգտվում են գիտական սարքավորումներից, լաբորատորիաներից, համակարգչային տեխնիկայից, գրադարաններից,
        գործուղումների իրավունքից:

        Ասպիրանտուրայի բաժնի գործունեության ընթացքում ավելի քան 30 ասպիրանտ և հայցորդ պաշտպանել են թեկնածուական
        ատենախոսություններ: </p>

    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 2rem">Ֆակուլտետ</h5>
      <p class="card-text">վրոպական Համալսարանի կազմակերպական կառուցվածքը հիմնվում է արևմտյան համալսարանական համակարգում
        ընդունված ցանցային մոդելի վրա:

        Ի տարբերություն հետխորհրդային երկրների բարձրագույն կրթական հաստատությունների, որտեղ համալսարանի հիմնական և
        սկզբնական օղակ է հանդիսանում ամբիոնը, Եվրոպական Համալսարանում բացակայում է ֆակուլտետի վարչական բաժանումը
        ամբիոնների, ինչպես ընդունված է անգլոսաքսոնական համալսարանական համակարգում:

        Maria-MontessoriՀամալսարանական կյանքն ամբողջությամբ ընթանում է ֆակուլտետներում, որտեղ գիտաուսումնական բոլոր
        հարցերի լուծման իրավասությունը վերապահվում է դեկանին և ֆակուլտետի խորհրդին:

        Դեկանի պաշտոնը Եվրոպական Համալսարանում հանդիսանում է ոչ թե վարչական, այլ գիտակամանկավարժական աշխատանք:

        Դեկանը ընտրվում է ֆակուլտետի խորհրդի կողմից և անմիջականորեն համագործակցում է պրոֆեսորների, դասախոսների հետ: </p>

    </div>
  </div>
</div>
