<div class="card" style="width:100%;">
  <img class="card-img-top" src="../../../assets/images/eraview.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title text-warning">Մեր մասին</h5>
    <p class="card-text">Եվրոպական Համալսարանը հանդիսանում է միջպետական բուհ, որը հիմնադրվել է Ֆրանսիայի
      հանրապետության,
      Freedom doorԳերմաիայի Դաշնային հանրապետության, Իտալիայի հանրապետության և Հայաստանի Հանրապետության
      կառավարությունների միջև կնքված համաձայնագրերի հիման վրա:
      Եվրոպական Համալսարանը հանդիսանում է Բարձրագույն կրթական հաստատությունների եվրոպական ասոցիացիայի /EURASHE/ լիիրավ
      անդամ, և Հայաստանում բարձրագույն կրթական հաստատությունների մեջ առաջիններից մեկն է, որը սկսել է կիրառել Բոլոնյան
      գործընթացի սկզբունքները:</p>
  </div>
  <div class="card-body">
    <h5 class="card-title text-warning">Համալսարանի առաքելությունն է</h5>
    <p class="card-text">բազմապրոֆիլ բարձրագույն մասնագիտական կրթության տրամադրումը որակի ապահովման եվրոպական
      չափանիշներին համապատասխան,
      գիտահետահետազոտական գործունեության իրականացումը միասնական եվրոպական գիտակրթական տարածք ինտեգրման հիմքով:</p>
  </div>
  <div class="card-body">
    <h5 class="card-title text-warning">Ռազմավարական նպատակներն են՝</h5>
    <p class="card-text">դառնալ Հայաստանի բուհական համակարգի “գերազանցության կենտրոններից” մեկը,
      ներդրում ունենալ երկրի ինովացիոն զարգացման, մրցունակության բարձրացման ու բարձրագույն կրթության համակարգի
      արդիականացման գործընթացներում:
    </p>
  </div>
</div>

