<div class="card text-center">
  <div class="card-header text-center">
    <ul class="nav nav-pills card-header-pills">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink="/"> <img src="../assets/images/era.png" alt="EROPEAN UNIVERSITY"
                                                     class="rounded-circle eraicon"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{exact: true}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about" routerLinkActive="active">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="services" routerLinkActive="active">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" routerLinkActive="active">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="staff" routerLinkActive="active">STAFF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="students" routerLinkActive="active">STUDENTS</a>
            </li>

          </ul>
        </div>
      </nav>
    </ul>
    <div class="card-body bg-light">
      <router-outlet></router-outlet>
    </div>

    <footer class="app-footer">
      <div>
          <span> EUA ©2018. All Rights Reserved.
          </span>
      </div>
    </footer>
  </div>
</div>
