<p>
  Կենտրոններ
</p>

<div class="d-lg-inline-flex">
  <div class="card" style="width: 20rem">
    <img class="card-img-top" style="width: 18rem" src="../../../assets/images/services/Mobility-center.png" alt="Card image cap">
    <div class="card-body">

      <div class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Շարժունության կենտրոն
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ակադեմիական շարժունության կենտրոն</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> Միջազգային շարժունության կենտրոնը հանդիսանում է Եվրոպական Համալսարանի կառուցվածքային ստորաբաժանում:

                  Հիմնական խնդիրները՝ </p>
                <ul>
                  <li>աջակցել Համալսարանի կրթական ծառայությունների որակի բարձրացմանը միջազգային/եվրոպական կրթական
                    չափանիշներին համապատասխան,
                  </li>

                  <li>նպաստել ուսուցման նոր ձևերի և տեխնոլոգիաների ներդրմանը ԵՀ-ում,</li>
                  <li>ապահովել Համալսարանի և նրա ուսանողների մասնակցությունը կրթության միջազգային համակարգում,</li>
                  <li>մասնակցել Համալսարանի շրջանավարտների աշխատանքի տեղավորման ոլորտների ընդլայնման համար պայմանների
                    ձևավորմանը,
                  </li>
                  <li>ապահովել Համալսարանի շրջանավարտների մրցունակությունը աշխատանքի միջազգային շուկայում,</li>
                  <li>նպաստել Համալսարանի հեղինակության աճին Հայաստանի Հանրապետության և միջազգային կրթական շուկայում:
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img class="card-img-top"  style="width: 18rem" src="../../../assets/images/services/career.png" alt="Card image cap">
    <div class="card-body">

      <div class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampeModal">
          Կարիերայի կենտրոն
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampeModalLabel">Կարիերայի կենտրոն</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Կարիերայի կենտրոնը հանդիսանում է Համալսարանի կառուցվածքային ստարաբաժանում:success-work

                  Կենտրոնի գործունեության նպատակը տեղական և միջազգային աշխատաշուկայում ԵՀ ուսանողների և շրջանավարտների
                  ծառայունակության և մրցունակության բարձրացումն է:

                  Հիմնական խնդիրները`</p>
                <ul>
                  <li>
                    աջակցել ուսանողների և շրջանավարտների աշխատանքի տեղավորմանը և կարիերայի զարգացմանը,
                  </li>
                  <li>համակարգել Համալսարանի և նրա կառուցվածքային ստորաբաժանումների աշխատանքները պոտենցիալ/հավանական
                    գործատուների հետ համագործակցության ոլորտում,
                  </li>
                  <li>ուսումնասիրել գործատուների կարծիքները ուսանողների ու շրջանավարտների պատրաստվածության որակի
                    վերաբերյալ,
                  </li>
                  <li>
                    տրամադրել խորհրդատվություն դիմորդների և ուսանողների մասնագիտական կողմնորոշման վերաբերյալ:
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img class="card-img-top" style="width: 18rem" src="../../../assets/images/services/QA-Center.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="card-footer">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#examplleModal">
          Որակի ապահովման կենտրոն
        </button>

        <!-- Modal -->
        <div class="modal fade" id="examplleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="examplleModalLabel">Որակի ապահովման կենտրոն</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Որակի ապահովման կենտրոնը հանդիսանում է Եվրոպական Համալսարանի կառուցվածքային ստարաբաժանում:

                  Հիմնական խնդիրները՝</p>
                <ul>
                  <li>
                    ձևավորել որակի ապահովման, մշտադիտարկման և բարելավման գործիքակազմ,
                  </li>
                  <li>
                    ապահովել ԵՀ-ի հաշվետվողականությունը ներքին և արտաքին շահակիցների առջև,
                  </li>
                  <li>
                    նահատել կրթական ծառայությունների արդյունավետությունը, իրականացնել Համալսարանի գործունեության
                    վերլուծություն, ներկայացնել զարգացմանը նպաստող առաջարկություններ:
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
